.product__card {
  @apply bg-gray-50 p-4 shadow-secondary/10 shadow rounded-xl overflow-hidden w-full flex flex-col;
border-radius: 16px;
  overflow: hidden;
  transition: 0.3s;
  flex-direction: column;
  height: 100%;
  
  &-img {
  @apply relative overflow-hidden -m-4 mb-5 bg-white;
  aspect-ratio: 3 / 4;

  img {
    @apply w-full h-full object-contain;
  }

  .sale {
    @apply absolute top-2 right-2 bg-amber-500 px-2 py-1 rounded-md text-white text-xs;
  }
}

  &-category {
    @apply capitalize text-gray-400 mb-3;
  }

  &-meta {
    font-size: 13px;
    color: #777;
    margin-top: 5px;
  }

  &-name {
    @apply text-lg font-medium
  }

  &-price {
    @apply text-2xl font-montserrat text-secondary mb-2 flex items-end;
  }

  &-discount {
    @apply text-lg text-gray-400 font-montserrat flex gap-3 items-end ml-2;

    s {
      @apply decoration-2
    }

    span {
      @apply text-sm font-rubik font-medium text-yellow-500;
    }
  }

  &-btn {
    @apply mt-4;

    .btn {
      @apply w-full;
    }
  }

  &-count {
    @apply flex items-center gap-1;

    .btn {
      @apply px-2 w-auto m-0;
    }

    input {
      @apply w-full h-10 border border-primary text-primary rounded-2xl text-center outline-none;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        @apply appearance-none;
      }
    }

  }

  &-stock {
    @apply whitespace-nowrap flex items-center rounded-2xl mb-auto;
  }
  
}
.product__card:hover {
  transform: translateY(-5px);
}